/* Advanced Selectors */

/* Star - selector selects everything on the page */
*{
    border: 1px solid lightgray;
}
/* descendant selector - it takes two or more tag names (selectors) and chains them together */
li a{
    color: red;
}
/* Adjacent Selector - lets us select elements that come after another element (not nested) inside rather siblings */

h4 + ul{
    border: 4px solid orangered;
}

/* Attribute Selector - a way to select elements based off of any html attributes they have */
a[href="http://www.google.com/"]{
    background: lightblue;
}
/* nth of type - it takes a number and selects every nth of a specific element */

ul:nth-of-type(3){
    background: purple;
}

li:nth-of-type(3){
    background: pink;
}
li:nth-of-type(odd){
    background:yellowgreen;
}