body{
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAT4AAACfCAMAAABX0UX9AAABIFBMVEX///8dQorIEC4dQokeQowAMXvL0+CCkbMANIMIN4ebpcAAMn69x9akr8i1wtgdQojT2OTGACEAL4Ld4/Ho7/bdho8ALnvFzeQALnYxUIpDXpOrtMYOOYR2iK/19/oROH3d4uqKl7LFABXDAAAAKH/EAA3uxsr56OrGAB3HACYAIm0ALYHw9/v34eTor7UuTYny0dX99fbrub7VYm9fdKXUWWcAGGfKHjfkoajZdYBwgq1vgKPPQFJkeaY4UoU0UpNTZpNBWpQRPH2Dlrqwwt0nRoDI1OhkeqmQpc2jsdGqut67ze3Zcn3a6PwAEG47UoDhk5tZbZBUaqCIl62DkanNLUQAMGsAJ2xIYpwAG2dyi8AqSX3bf4lieZ3RTVwAIX1ft79eAAAQ4UlEQVR4nO2dfV8auRbHZ0xAcMABmVLUCKjQasWirdt2pT5hse3dutva7d3t7cO+/3dxk8kkORkCSkWaez/5/dHCTOaBr5kkJznnjOc5OTk5OTk5OTk5OTk5OTk5OTk5OTk5OTk5OTk5OTk5OTk5/f+omYUqLNY9b+/JA669EYcUdGVLzchcMioMKVsaUdZ4aqb6dQVUudE7zWe7rYqotQTUOot/24vNjVjtjV8fGg6ab2VSIo3lw1UDluyzIEiXzTS6R6uVEffzsZVLF/98AQssDF1blit59UF11F6hZ6XbIlNqhjnsA2GU7Hi8NcdVbj8ePmw+76eEMCG5zNViumQ24+N0WVY4aHzLGu9oPj9UPqOddSE3dL5ENYqvi4cvp6s6PXzRTupiZEHskvzmNof5DeMLfXrfGFePU1CM+HxWmFR7HcMtHRGEdNZ+5i0sYBG+MH2tXEHsetiek/x208cN42N3HSKMSe1cKzkCX3wE+WL4JStpfPRvqp3SHnzFoTvZkecG+La/D+MbeZN46VsK3xg1hlvA4d8fkjU78Z2kL4VPmmLfg405Vf3S3ccYfLSpOrohPlr/Bunept5P/36EyIGV+KJW+tRLaufTbYVvK936jcWHq+BhG4/PJ99SZ44C2n1ppUJEVuBYwxp8pZ30qXfUfc4Ble9NgI/2IDXVf4zFR6tWtaCfuVLFDB+KW+X4IsjHXTvxLaVPnVNDhJc/io+KrNwIXwxoRT9zYYkzC/0TVQn78BG3GB8+EfuetH+89tHHV/4ZrsMXpqrfajXBh69CxQX2MBbjI6+TXbtzN3146YCPDoNpC6VR+cOMD8lHUmwIyZF25mLAtyPyn64sWINmh4aPXjuUSvAl39g+dR3E7pGXat4Zvrxo9Le3J8DXICRPGyyFBYWyvuj4MMkTAusHHSr2NRv0nAh8bwA+aHZAfMjP0xMmyj9jRltOfG3oP42IHVMz2nR89Kflfk/a/PdbN6599IeufVxfWw5gpQpzwnrR8JGjj+vzB30CCoZ+TrNTXif4/NzbZXnGTHEEPj88Wlf6kzaR6tuRD/9OBx9hqSnjw7mdHXxQXGzyHVrDNx4ffUIycU1bbfjgucSnw/iQH6yyTVFP8aPdrCQd6wonf5Tc4pk8G4FFAD7kV7XZBE2L0JoPiiPL/bAkPoKL2p9ks3xjfJQAx+ctBAhhAcUPkxMqfLQzza3yjacE/DJyCM8sR/JB4VRS1swOrfZV74/8dRSfuspd4iMnqSmw3aftm+PzE3zeAIu+EqlHUsO3lODLVlWvCkc5VA1x4szFgap90OyA+LAF+DAZnkB8sDk5vnlQp7CoaEZ8HrTMtEFxJyN21C6PZO3DkLBt+FoFw74H5fKk+BZr4H7JOt9oxncFScNBcbMqStcu14gYeOABuLZl+HSDXGr/l40J8TU1fD2+0YzvAHS+uN8Et1QVhWvRPBFtqd8HM4OW4Ws1R+y+tzEZvnpD1Sks5gLM+A6JGtHiBriBgsCHGp11eToMJ7bswqd3fJp+2Z4M30DdLxYjFzO+tVH45Awk7nsL6q+RAeMTu/DtNEfulzOmN8PnDWCHkLT2o/ABBBDfG7GDNndF4qtRjCpiFT41SWCQqH43xNedAB8oCfEdJvgQxfdKzvPjAFhtVuHLjTuvWC6aHT4xVEb+sbeYwRIfuEub8OGlcYvGu+2J8C3fHp8w1BA9/iIj553JvCpiE778+dgSGzPGV++KwuTUKwF8PXVtm/DtjPdYmKztuz2+SK6ckiOvKQ04n8KUsgifvgQItR//+3zG+Jpi2gvT8RTFl9Q+jI/VtS3C1xox9/Xw5dP4/08zxyfr25oX9RW+gTI77MHXMttr3uN2+VP8Yda1ryAnXcm5Fw2k1YH7yuywB9/vZi+d/c25uY3407vt2eIrytoXLHidrhxDY2IjvpZ5+ws63Gvvik+zxLeg8BW18wXqD20NvuwIc5c9styxYG9jtvjmpTHHhvMr0jJGwOywB9+QN16sPTZYLn9lHxOrd2b4DiU+5tN3KgqFYaBWO2zHFzd42y/jz+XZ4ruSZ2D45HQzCvPrsow1+EpXpq37/IGFfcfM8J3J5ZIa5SJX5BACZoc9+P4xbd3jyxzt2CucW72zwleXQ5XYsUAunoQh+SCvbQ++nfDgcNjueLEBkMVzVjPD15AzfMxN4VyUorVPLRbZg28Jk5bBbHsZP7Ht2G7j/ciM8FVqGr4FudAdguU4i/CZp+r5NN/W+/jL8xniu1D4GtScXFX4/FBabTbhMxq9yXBlK65+X8uzw7eYURvpjRXkoi/CRN6oRfhGTNV/2lbVj1XFWeErSpMXs6VJhQ/jqrTaNCeNzM+dsDLbHe+T4R77zFzEZ4WP2mxiO5tiyQZIHIqX5GKRhq821kXorvHlzWfd409v+wX9/HBzdviAX8EyxVdR4z4sD7XJRShn8s/wEmNj41Ns977bmhm+UxKG4nCKLxLTzbT2KTc23Tn3ZFloIAFzzQDfknnGKo5K2HiSfNnfbs8I3woWEUWYxSJEfdl1SJ+ZlHcpwokITq8Z/sTaR/uLLRCJ9fRrav/d4KsP5EbC7MmOcs8FIyyzazhGaUKz6DoWzHsettsPwNfdX1P77wZf1Fe04nnwZeCGKu1zi/DhM/Oe9xt6GNuD1P6p4pMeVtTo0CvbCsC3LK5tEb5R7lV7m0+M24Vui+819NqW/n0Xyg+aLwEegPOF4to24ZOBHCkNBQHqui2+K1hSmrOLcqo+cSs4BLWPCKvNJnyjHKxejj/ytvhCEASiJlOKAF/c0Z4DRyx5FavwjfAtvXcntU84PJdgELsKKzpXQdaZuE+DpKpijKXhkwMXNERoNv59LWOQzZN0Z6HrlviOCIiXIvKX9QC+eCOojr6MfdOmDHwVzPRz8Jmr3+477evYcOhJ8UXzgQ+yAGTk0F0FcviZV2zDKsAXiAdfGzbjIFPlqn1ODcJm5dtsdNTQ+46pDJup6XCwvr7+rU9UwDN97EI5EXosbDThjbtYVVeRCQ0gvpC8ubgv1NTvcUb48sah8xzsPKZidcQM8vk8jChi/gMqolKsdIS0UsVVsgCC7qTZYdF8Hz/3gcHJ7/vG933x+d3mNGzeZLv+FYF4Xml0UHykGR8Ma58wO6zDR1rDC77vtre3X7AHeP/x8/JUZlxiMGEqywhGag2oIoqGwpCrAHzSQLIOH32EhvaxGdOt9tzL5+1pzTbHlQ3p+DAGweSlqlxYSyKNIohPRBbZh8/go/sYRvRODd+QYCy5fFTpw8sTlEQgSBg3ErPDQnzDtu/u5gzwIR/mcZEBuCEi3ZhVB0SE40xyizbiG14zerl9p/hQiHxEgNcjXNZFhDd0dTA8xEFJFLMPn59LP74P2neMD+Og29RPKo4NEzu4ruLxfSSG11biGzbeQPW7C3w+qa7pA/aePGkoTKEViC8ZHtiJT02oJQKt3520fUfpdRZgs4l4zCt1wlDMjNuJb9hf41156vhIRrRvGJ2nQ0pU6geZvOBImSihiCyyFJ+/k1rp221PGx85XHyb9AbID5b1Z1d5p2G/kbTEIOdGKFz8bMU31Px9mjY+NmuSrJ4xw0xLjMZWdUXN9Mkbvg3Ol4rFImvxYaw/T1/L08RH7Q02YXUqPAmwH6zDc1ZkACWtmt3jWF11FeQnVpu1+Ci/Jtyv0r9OZ5k8Tq/RU4HkWhIIFkAJ7yQWuDfp4mcvPh/nmmD/3oTR5DfCV1RuQFqYLlwo4gD1W5PJrizGp/NLnMSni6+QkZ4YSFtmpljSOV+1O0ONSJSzFp/O7/l08cVtX6UvKYV+FRht6yRd4fQbY/nlmKzG5+MdNZydMJfBzdY6lPc8DqFbT288Pmp2cFR24/NxS17qXvkO8J0CfHC+ChgdRnoi+7Xl+Oj4WXjbT5gK4mb45lWkGoLZlZbH4wuFj5r1+Pxckr5ZmL3TyqQR49Nybctj2eRUOK7rCEU+CPvx0QeY2+e/ThTTdjN896vgWBUp2Wn4QyngoWSW0/8BfNSA4wbwRLXv2ixCMb5KDXpoyAwjlaqPwI54VUSrjSKyyCJ8OKTDqUwGhxlC/2/UWOfXCDINLKafeet30xxWRGU1NOaw4l4GfYBFJun0sqpScpdbZnkQuLKZNJQ24fP9xqvsxcnJxdvaq2w2e97wgzfZ7CFBiK9+PJwgJLDeB94DxgxqHN8KrFUyx0NB4Qv98O8zrhBmYOdmh1X4MAsee73sXTyKx/RvA+bJ9CoIk9o3SURlBFP9GvP3cXyH4G0VSCahXgWZWpXfzTc45VKLb9EmfJjH3nUpvqbXW/CiWlCJaE0I/SX+0p0JHt5KTbb9yM+bskdyfJqTiswvDtLNgeXLHnTp4MmgrcKH2D0VBjG+v49Z/9fJdkoZ2s/Fk89PJwiHLuYkvlCmFjPgg3MDSAYcAE9Sv7FmvBBnZRu+er2S4Fuh+LreahSx/D1x4/dpgp73KA8m7MSyogFfU5uAFq4rVwCfej3MOsymzReLLMN3GTW9Y4XvyvvY7Aww4g3Q9fiQwEebPnW/qD86b7OKdmEARM51sNKBAxBCBAeJRb7JMnwF70Pn4q+md7biRY/WvD+z3NOOVb/rH14k0l4fgeqDZM4uk3cpIBUiMekCx8zSFZKZKGo7X4u2Dt9H72PEat/9kldsrXu9+zyzLXP8e39t14F5XtZmDzxmCBly1it8ADTFx7d1GvAplfgWIT7eHNuGr9OjzR2rfVS9VtE7feWtsbEFe/fJk41r2z4cnp2ufGno0001MR4x4QMLQHIiIAINIs5Ityvo4ZekobMMX6Wz4mWbrPZ96HmVZ/e95QV+i/Fi67VtXxibB9gHadTpoTJhnAmfChpn+PgYrwT7E+XurC3U8TR0luG77PSjqCm6jr8q3mnRK8Z/9FY9cdWY9GU7flXerQlfCeLD3VQ5ujGQK6Yl+Exzq80+fBd12vZVYnz/jnvM+wwfztFP338EH/4iVzxN+CKNCc9SAAeDWE1jVWBRHr5lFT46lO/06blF7Rt06otZHpyHfS+ZM0iSaihdg0+9qsgc1wECTYUX+BuIryEXMDXSfIhkDb46m3Fhte81w1fxeute9IdX+f2U94PxOtg+M3o30gGC4/Dpr6Uzv68DvouNh8VoibDV+3c6Azi/ELeJ1uBjI33WdQy6vPZRvf3gZXdW2BuTxHufWOO3uZ86cGzt0179Z8QHX02RuAPBUSMeKG+HL3DKJU4ebg++bAv7jd8uBuSi8q/ab5eXFwuZw8u3Qffiko1suen0tTxXfpc+cBw+At+AYMYHo4WSiVVos6nYXc871l4CwhoFe/B5B3lqIQX0vqrED6q5HMGEfsK52FTi8TLvy0k+HCgjPuSz1Qqiu4wa8WWX4Dxy/F6eZdibgLebaOtvsYufRfi8s5HvjBP4nm61h9+wba59lB+qHuluZ0Z8URWGx2RKWhoDKpAYT8fHpvZtwucdtkauTsc9wO7mp6G3847Ah32SW04H2BjxeX2tPy2mp1rB6q82XxpPYVuFz2vOh7kls/5Z8HafGqPyU683ZoYHIZn+0XBijmygfoTKZaO1dKxONaF7VR74uWpZD/Knnm34qOqjNPKFcH9+rmlq9JdP5xdNxbPPQLFnMhXEI7D10annFWCxzyDB/zwsWWPD8QXtjCMyqVAtauXuEN/kqke6OvVRue/1knXz8aOKmUqmttz0Hsfn5ndycnJycnJycnJycnJycnJycnJycnJycnJycnJycnJycvoJ+i+vFARseOSyHwAAAABJRU5ErkJggg==");
	background-repeat: no-repeat;
	background-size: 1000px;
	background-attachment: fixed;
	background-position: center;
}
.Joker{
	zoom:1.0;
	position:relative;
	text-decoration:none;
}
.Joker span {
	position:fixed;
	top:100px;
	left:500px;
	width:220px; 
	left:-999em;     
}
.Joker:hover{
    visibility: visible;
    color: purple;
}
.Joker:hover span{
    left:300px;
}
* html .Joker span {
    position:relative;
}
.Brooklyn{
	color: white;
	background-color: black;
}
.theProcess{
	zoom:1.0;
	position:relative;
	text-decoration:none;
}
.theProcess span{
	position:fixed;
	top:130px;
	left:500px;
	width:220px;
	left:-999em;  
}
.theProcess:hover{
    visibility: visible;
    color: blue;
}
.theProcess:hover span{
    left:300px;
}
* html .theProcess span {
    position:relative;
}
.Orlando{
	color: white;
	background-color: blue;
}
.tacoJay{
	zoom:1.0;
	position:relative;
	text-decoration:none;
}
.tacoJay span{
	position:fixed; 
	top:160px; 
	left:300px; 
	width:220px; 
	left:-999em; 
 } 
.tacoJay:hover{
    visibility: visible;
    color: red;
}
.tacoJay:hover span{
    left:300px;
}
* html .tacoJay span {
    position:relative;
}
.Indiana{
	color: yellow;
	background-color: blue;
}
