/*  font-family */
p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: 'Montserrat', sans-serif;
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-family:'Roboto', sans-serif;
}
/* font-size 
    both em and rem are relative units, px isnt 
    -em, size is dynamic */
body{
    font-size: 10px;
}
h1{
    font-size: 1.0em;
    /* font-size: 100px */
}
p{
    /* font-size: 25px; */
    font-size: 2.5em;
}
span{
    font-size: 3rem;
    /* font-size: 48px; */
    /* rem is equal to the size of the root html element: 16px */
}
/* font-weight 
    refers to how bold or light the text is 
    -numeric values that range from 100-1000 */
p{
    /* font-weight: bold; */
    /* font-weight: light; */
    /* font-weight: normal; */
    font-weight: 1000;
}
/* line-height
    -controls the height of a given line*/
p{
    line-height: 1.5;
}
h1{
    /* text-align: right; */
    /* text-align: left; */
    text-align: center;
}
p{
    /* text-decoration: underline; */
    /* text-decoration: line-through; */
    /* text-decoration: overline; */
}

