h1{
    font-family: 'Roboto', sans-serif;
    margin: 1.666667%;
    font-weight: 800;
    font-size: 23px;
    border-bottom: 2px solid white;
    width: 30%;
    padding-bottom: 20px;
}
img{
    width: 30%;
    margin: 1.666667%;
    float: left;
}
