.wrapper > div{
    background: #eee;
    padding: 1em;
}
.wrapper > div:nth-child(odd){
    backgrond: #ddd;
}
.wrapper{
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* grid-template-columns: repeat(3,1fr); */
    /* grid-template-columns: repeat(4, 1fr); */
    /* grid-template-columns: repeat(4, 1fr 2fr); */

    grid-gap: 1em;

    grid-auto-rows: minmax(100px, auto);
}
/* setup for .nested div */
.nested > div{
    border: 1px #333333 solid;
    padding: 1em;
}
.nested{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 70px;
    grid-gap: 1em;
}